body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

.top-half {
    background-color: pink;
    display: flex;
    outline: auto;
    height: 50vh;
}

h1 {
    font-size: 50px;
    display: flex;
    height: 50vh;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;

}

#introduction {
    display: flex;
    outline: auto;
    font-size: 32px;
    justify-content: center;
}

.buttons {
    display: flex;
    outline: auto;
    justify-content: center;
}

#notice {
    display: flex; 
    justify-content: center;
}