body {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: auto;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    
}

h1 {
    font-size: 50px;
    display: flex;
    outline: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: beige;

}

.container {
    display: flex;
    flex-direction: column;

}

#introduction {
    display: flex;
    outline: auto;
    font-size: 32px;
    justify-content: center;
}

.buttons {
    display: flex;
    outline: auto;
    justify-content: center;
}